docs/n8n/chatbot_ollama_workflow.json
{
  "name": "Chatbot FlotaVehicular Ollama",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "chatbot-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": $json.body.model || \"llama3.2\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"ERES: Asistente IA especializado de FleetManager - Sistema de Gestión de Flota Vehicular.\\n\\nMISIÓN: Ayudar usuarios con gestión, monitoreo y optimización de flotas vehiculares.\\n\\nÁREAS DE EXPERTISE:\\n- Gestión de vehículos: registro, tracking en tiempo real, estado, historial\\n- Conductores: perfiles, asignaciones, KPIs, validación de licencias, historial de conducción\\n- Rutas: planificación, optimización, tracking GPS, alertas de geofence\\n- Mantenimiento: preventivo, correctivo, historial, alertas, costos\\n- Combustible: consumo, registros, análisis, alertas de anomalías\\n- Reportes: KPIs, métricas, análisis de desempeño, exportación de datos\\n- Alertas: sistema de notificaciones, Panic Alert para emergencias\\n- Dashboard: visualización de datos, mapas, estadísticas en tiempo real\\n\\nREGLAS DE COMPORTAMIENTO:\\n1. SOLO responde sobre FleetManager - Sistema de Gestión de Flota Vehicular\\n2. Si preguntan algo ajeno al proyecto, di: 'Disculpa, solo puedo ayudarte con temas de FleetManager - Sistema de Gestión de Flota Vehicular'\\n3. Sé profesional, claro y conciso\\n4. Responde SIEMPRE en ESPAÑOL\\n5. Ofrece soluciones prácticas basadas en el contexto\\n6. Si no sabes, sugiere documentación o escalación al equipo técnico\\n7. Usa jerga técnica del dominio de flotas vehiculares cuando sea apropiado\\n\\nTONO: Profesional, amable, eficiente. Actúa como un experto en gestión de flotas.\"\n    },\n    {\n      \"role\": \"user\", \n      \"content\": $json.body.message || \"\"\n    }\n  ],\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.3,\n    \"top_p\": 0.9,\n    \"top_k\": 40\n  }\n} }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http1",
      "name": "Ollama API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.message?.content || \"No tengo una respuesta disponible\", \"model\": $json.model || \"llama3.2\", \"timestamp\": new Date().toISOString() } }}",
        "options": {}
      },
      "id": "respond1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ollama API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama API": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
